/POS/Exercises/01_MekiV1/nbproject/private/
/POS/Exercises/02_NürnbergRing/nbproject/private/
/POS/Exercises/03_Concurrency/nbproject/private/
/POS/Exercises/04_MekiV2/nbproject/private/
/POS/Exercises/01_MekiV1/build/
/POS/Exercises/01_MekiV1/dist/
/POS/Exercises/04_MekiV2/build/
/POS/Exercises/04_MekiV2/dist/