/POS/Exercises/01_MekiV1/nbproject/private/
/POS/Exercises/02_NürnbergRing/nbproject/private/
/POS/Exercises/03_Concurrency/nbproject/private/
/POS/Exercises/04_MekiV2/nbproject/private/
/POS/Exercises/01_MekiV1/build/
/POS/Exercises/01_MekiV1/dist/
/POS/Exercises/04_MekiV2/build/
/POS/Exercises/04_MekiV2/dist/
/POS/Exercises/09_BookService/nbproject/private/
/POS/Exercises/09_BookService/build/
/POS/Exercises/08_BookServiceClientV1/nbproject/private/
/POS/Exercises/08_BookServiceClientV1/build/
/POS/Exercises/08_BookServiceClientV1/dist/
/POS/Exercises/10_PLFService/nbproject/private/
/POS/Exercises/11_PLFServiceClient/nbproject/private/
/POS/Exercises/11_PLFServiceClient/build/
/POS/Exercises/11_PLFServiceClient/dist/
/POS/Exercises/10_PLFService/build/
/POS/Exercises/10_PLFService/dist/
/POS/Exercises/10_PLFServiceClient/nbproject/private/
/POS/Exercises/11_Product_Administration_Service/nbproject/private/
/POS/Exercises/11_Product_Administration_Service/dist/
/POS/Exercises/11_Product_Administration_Service/build/